
platforms:
- name: ubuntu-12.04
  run_list:
  - recipe[apt]
  - recipe[test_helper::fix_permissions]
  attributes:
    wlp:
      archive:
        accept_license: true
        base_url: "https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/downloads/wlp/8.5.5.2"
    java:
      install_flavor: oracle
      oracle:
        accept_oracle_download_terms: true

- name: centos-6.5
  run_list:
  - recipe[test_helper::fix_permissions]
  attributes:
    wlp:
      archive:
        accept_license: true
        base_url: "https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/downloads/wlp/8.5.5.2"
    java:
      install_flavor: oracle
      oracle:
        accept_oracle_download_terms: true

